@import "~bootstrap/scss/bootstrap";

html {
  --color1: white;
  --color2: black;
  --textColorGray: rgb(122, 122, 122);
  --bgCol: white;
  --borderColor: rgb(230, 230, 230);
  --borderBottom: rgba(165, 165, 165, 0.192);
  --shadow: rgba(163, 163, 163, 0.342);
  --colorBG: rgb(232, 246, 255);
  --dropDCol: white;
  &[data-theme="dark"] {
    --color1: black;
    --color2: white;
    --textColorGray: rgb(122, 122, 122);
    --bgCol: rgb(42, 55, 68);
    --borderColor: rgb(230, 230, 230);
    --borderBottom: rgba(0, 0, 0, 0.267);
    --shadow: (0, 0, 0, 0.65);
    // --colorBG: rgb(27, 38, 51);
    --colorBG: rgb(26, 41, 59);
    --dropDCol: rgb(26, 41, 59);
  }
}

html {
  font-size: 62.5%;
  @media (max-width: 768px) {
    font-size: 50%;
  }
  @media (max-width: 580px) {
    font-size: 47%;
  }
}

body {
  background-image: linear-gradient(to right top, #f54500, #ff0350);
  //background-image: linear-gradient(to right top, #00ff00, #ffe603);
  // background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
  box-sizing: border-box;
  @media (max-width: 580px) {
    background-image: none;
    background-color: white;
  }
}

.app__con {
  @media (max-width: 580px) {
    padding: 0;
  }
}

.divcon {
  // align-self: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__inner {
    width: 85%;
    height: 93vh;
    box-shadow: 0 2px 6px rgba(85, 85, 85, 0.568);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    @media (max-width: 580px) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 15%;
    //background-color: rgb(22, 20, 32);
    background-color: rgb(38, 50, 61);
    display: flex;
    justify-content: center;
    color: white;
    @media (max-width: 580px) {
      flex: 0 0 0;
      padding: 1.5rem 1rem 1rem;
      align-items: center;
    }
  }

  &__rigt {
    flex: 1;
    background-color: var(--colorBG);
    // background-color: $colorBG1;
    @media (max-width: 580px) {
      height: 100%;
    }
  }
}

.colorG {
  color: rgb(38, 199, 92) !important;
}

.colorR {
  color: rgb(255, 68, 68) !important;
}

.no-result {
  font-size: 1.8rem;
  text-align: center;
  padding: 4rem 0;
  color: #ff0350;
  font-weight: 500;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  & img {
    max-width: 8rem;
    margin-bottom: 1rem;
  }
  & h2 {
    color: var(--color2);
  }
}

.active-day {
  color: #ff0350 !important;
}
